/* internal */
body{
    Margin: 0;
    padding: 0;
    background-color: #f6f9fc;
}

table{
    border-spacing: 0;
}

td{
    padding: 0;
}

img{
    border: 0;
    
}

.wrapper{
    width: 100%;
    table-layout: fixed; 
    background-color: #f6f9fc;
    padding-bottom: 40px;
}

.webkit{
    max-width: 600px;
    background-color: #ffffff;

}

.outer{
    Margin: 0 auto;
    width: 100%;
    max-width: 600px;
    border-spacing: 0;
    font-family: 'Montserrat', sans-serif;
    color: #4a4a4a;
}

.outer hr{
    background: #FDBF15;
    border: 1px solid #FDBF15;
}

.outer h1{
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    position: relative;
    bottom: 20px;
    color: #000000;
}

/* Main */
.main{
    font-family: 'Montserrat', sans-serif;
}

.main p{
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

.main h1{
    margin-left: 20px;
    font-size: 1.4em;
}

/* Reset Button */

#reset-btn{
    background-color: #262626;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 500;
    padding: 10px 186px;
    margin: 0 auto;
    cursor: pointer;
    display: block;
    justify-content: center;
    align-items: center;
    border: none;
}

/* Media Queries */

@media screen and (min-width: 320px) and (max-width: 480px){
    .webkit{
        width: 80%;
        margin: 0 10%;
    }

    .outer h1{
        font-size: 10px;
    }

    td{
        padding: 3%
    }

    img{
        width: 13%;
    }

    .main h1{
        font-size: 18px;
        margin: 5px 4%;
    }

    .main p{
        font-size: 12px;
        width: 85%;
        margin: 0 2%;
        padding: 0 2%;
    }

    #reset-btn{
        padding: 10px 4%;
        margin: 0 auto;
        font-size: 10px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {

    .webkit{
        width: 80%;
        /* margin: 0 15% 0 15%; */
    }

    .outer h1{
        font-size: 1em;
    }

    td{
        padding: 1% 2% 1% 2%;
    }

    img{
        width: 10%;
    }

    .main h1{
        font-size: 20px;
        margin-left: 8%;
        margin-right: 8%;

    }

    .main p{
        font-size: 12px;
        width: 85%;
        margin-left: 8%;
        margin-right: 8%;
        
    }

    #reset-btn{
        padding: 10px 31%;
        margin: 0 auto;
        font-size: 10px;
    }
}