#submit{
    background-color: #000000;
    color: #ffffff;
    font-family: 'Montserrat';
    font-weight: 700;
    padding: 0px 20px;
    cursor: pointer;
    font-size: 15px;
    border-color: #808080;
    width: 90%;
    height: 43px;
    border-radius: 0rem;
    box-shadow: none;
    /* padding-right: 50px ; */
}

#down{
    background-color: #000000;
    color: #ffffff;
    border-color: #ffffff;
    box-shadow: none;
    border-radius: 0rem;
    height: 43px;
}

#down:hover .dropdown-menu{
    display: block;
}